/* adjusts for margins and padding in the grid. */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #D8D8D8;
  height: 100%;
}

/*******************  text  ********************/

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin: 0;
}

h1, h2, h3, h4 {
  color: #D9DADC;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
}

p {
  font-size: 1rem;
  font-weight: 200;
}
*/
/* .mobileWidth {
  width: 100%;
} */

.bg-primary {
  background-color: #047C4A;
}

.stepIntro {
  background-color: #047C4A;
  color: #B2C5BE;
  padding: 1.25rem;
}


.sectionIntro {
  background-color: #9E4C45;
  color: #D9DADC;
  padding: 1.25rem;
}

.card-img-top {
  min-height: 100%;
  background-size: cover;
  background-position: center;
  
}

.img-fluid {
  background-size: cover;
  width: auto;
  min-height: 100%;
}





/*******************  nav  *********************/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background: #D8D8D8;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #2D3236;
  color: #D8D8D8;
  padding: 1em 0;
  position: relative;
}

header::after {
  position:relative;
  content: '';
  clear: both;
  display: block;
}

.logocontainer{
  position: relative;
  width: 30%;
  margin: 0 auto;
}
.logohead {
  position: relative;
  width: auto;
}


.site-nav {
  z-index:1000;
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}

.site-nav--open {
  clip-path: circle(150% at top right);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #EBEBD3;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #047C4A;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  display:inline-block;
  z-index: 1001;
  padding: 1em;
  position: relative;
  top: .5em;
  right: .5em;
  float: right;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #047C4A;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}


/*******************  hero  ********************/
.jumbotron {
  padding: 0;

}
.heroverlay {
  background-color: rgba(4, 124, 74, 0.603);
  background-color: #047C4A;
}


